/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-style: 'Roboto';
  padding-top: 60px;
  padding-left: 1rem;
  padding-right: 1rem;
  background-image: url("./assets/1454.jpg");
}

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
